/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --nav-width: 92px;

  /*===== Colores =====*/
  --first-color: #0C5DF4;
  --bg-color: #12192C;
  --sub-color: #B6CEFC;
  --white-color: #FFF;
  
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}


/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  padding: 1rem 0 0 6.75rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}
h1{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}

/*===== l NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100%;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 1rem 1.5rem 2rem;
  transition: .5s;
  z-index: var(--z-fixed);
}

/*===== NAV =====*/
.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav__brand{
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.nav__toggle{
  font-size: 1.25rem;
  padding: .75rem;
  cursor: pointer;
}
.nav__logo{
  color: var(--white-color);
  font-weight: 600;
}

.nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: .75rem;
  padding: .75rem;
  color: var(--white-color);
  border-radius: .5rem;
  margin-bottom: 1rem;
  transition: .3s;
  cursor: pointer;
}
.nav__link:hover{
  background-color: var(--first-color);
}
.nav__icon{
  font-size: 1.25rem;
}
.nav__name{
  font-size: var(--small-font-size);
}

/*Expander menu*/
.expander{
  width: calc(var(--nav-width) + 9.25rem);
}

/*Add padding body*/
.body-pd{
  padding: 2rem 0 0 16rem;
}

/*Active links menu*/
.active{
  background-color: var(--first-color);
}

/*===== COLLAPSE =====*/
.collapse{
  grid-template-columns: 20px max-content 1fr;
}
.collapse__link{
  justify-self: flex-end;
  transition: .5s;
}
.collapse__menu{
  display: none;
  padding: .1rem 2.25rem;
}
.collapse__menu .collapse__sublink {
  padding: auto 10px;
}
.collapse__sublink{
  color: var(--sub-color);
  font-size: var(--normal-font-size);
}
.collapse__sublink:hover{
  color: var(--white-color);
}

/*Show collapse*/
.showCollapse{
  display: block;
}

/*Rotate icon*/
.rotate{
  transform: rotate(180deg);
}


/****************/
.main-container{
  width: 70vw;
  margin: 0 auto;
  padding: 40px 0;
}
.main-container > h2{
  text-align: center;
  padding: 10px 0;
  font-size: 32px;
}
.main-container > p{
  font-weight: 300;
  padding: 10px 0;
  opacity: 0.7;
  text-align: center;
}
.category-head{
  margin: 30px 0;
}
.category-head ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


/** single post **/
.posts-main-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.posts-main-container > div{
  box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 0.64);
}
.post-img{
  text-align: center;
  position: relative;
}
.post-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.category-name{
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  padding: 4px 10px;
  border-radius: 2px;
}
.programming .category-name{
  background: #00a7ea;
}
.tech .category-name{
  background: #f03250;
}
.tips .category-name{
  background: #a1e44d;
}
#programming:active{
  background: #00a7ea;
}
#tech:active{
  background: #f03250;
}
#tips:active{
  background: #a1e44d;
}

.post-content{
  padding: 25px;
}
.post-content-top{
  background: #034694;
  color: #fff;
  opacity: 0.8;
  left: -4px;
  padding: 4px 0 5px 15px;
}
.post-content-top span{
  padding-right: 20px;
}
.post-content-top .fa-comment, .post-content-top .fa-calendar{
  padding-right: 5px;
}
.post-content h2{
  font-size: 22px;
  padding: 12px 0;
  font-weight: 400;
}
.post-content p{
  opacity: 0.7;
  font-size: 15px;
  line-height: 1.8;
}
.read-btn{
  padding: 8px 15px;
  display: block;
  margin: 5px auto;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid #034694;
  background-color: black;
  color: #fff;
  margin-bottom: 40px;
}
.read-btn:hover{
  background: #034694;
}
.read-btn a {
  color: #fff;
}

/*========== MEDIA QUERIES ==========*/
@media(max-width: 1170px){
  .posts-main-container{
      grid-template-columns: repeat(2, 1fr);
  }
  .category-name {
    left: -1px;
  }
}
@media(max-width:768px) {
  .expander {
    width: 770px;
  }
  .expander ~ .home_content {
    display: none;
  }
}
@media(max-width:736px){
    .expander{
      width: 480px
    }
    .category-name {
      font-size: 11px;
      left: -2px;
    }
    .posts-main-container{
      grid-template-columns: 1fr;
  }
  .expander ~ .home_content {
    display: none;
  }
}
@media only screen and (max-width: 540px) {
  .expander{
    width: 540px
  }
  .expander ~ .home_content {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .expander{
    width: 480px
  }
  .expander ~ .home_content {
    display: none;
  }
}
@media only screen and (max-width: 414px) {
  .expander{
    width: 420px
  }
  .expander ~ .home_content {
    display: none;
  }
}
@media only screen and (max-width: 411px) {
  .expander{
    width: 411px
  }
  .expander ~ .home_content {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .expander{
    width: 375px
  }
  .expander ~ .home_content {
    display: none;
  }
}
@media only screen and (max-width: 360px) {
  .expander{
    width: 360px
  }
  .expander ~ .home_content {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .expander{
    width: 330px
  }
  .expander ~ .home_content {
    display: none;
  }
}
@media only screen and (max-width: 280px) {
  .expander{
    width: 290px
  }
  .expander ~ .home_content {
    display: none;
  }
}
